In [1]:
import pandas as pd
import unicodedata

### Sumário de padrões para tratamento de dados:

- Data: DD/MM/YYYY

- Data hora: DD/MM/YYYY HH:MM:SS

- Binário: 0 ou 1

- Strings e colunas: Maiusculas e com acento: 

- Espaços: Manter apenas um espaço no intervalo entre palavras

- Sexo: M e F

- Delimitador: Vírgula

### Funções para padronização:

In [2]:
def padronizar_data_hora(df, coluna):

  df[coluna] = pd.to_datetime(df[coluna])
  
  df[coluna] = df[coluna].dt.strftime('%d/%m/%Y %H:%M:%S')
  
  return df

In [11]:
def padronizar_colunas(df):

    df.columns = df.columns.str.upper()
    
    return df

In [14]:
def converter_para_binario(df, coluna):
    mapeamento = {'Yes': 1, 'No': 0}
    df[coluna].replace(mapeamento, inplace=True)
    return df

In [17]:
def remover_acentos(df, coluna):
    df[coluna] = df[coluna].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    return df

In [25]:
df_med.head()

,PATIENTID,APPOINTMENTID,GENDER,SCHEDULEDDAY,APPOINTMENTDAY,AGE,NEIGHBOURHOOD,SCHOLARSHIP,HIPERTENSION,DIABETES,ALCOHOLISM,HANDCAP,SMS_RECEIVED,NO-SHOW
0,2.987250e+13,5642903,F,29/04/2016 18:38:08,29/04/2016 00:00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,0
1,5.589978e+14,5642503,M,29/04/2016 16:08:27,29/04/2016 00:00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,0
2,4.262962e+12,5642549,F,29/04/2016 16:19:04,29/04/2016 00:00:00,62,MATA DA PRAIA,0,0,0,0,0,0,0
3,8.679512e+11,5642828,F,29/04/2016 17:29:31,29/04/2016 00:00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0
4,8.841186e+12,5642494,F,29/04/2016 16:07:23,29/04/2016 00:00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,0

### Tratamento de dados

In [20]:
df_med_raw = pd.read_csv("01. Dataset - Medical Appointment No Shows/raw/medical_appointments.csv")
df_med = df_med_raw

In [21]:
df_med = padronizar_data_hora(df_med, 'ScheduledDay')
df_med = padronizar_data_hora(df_med, 'AppointmentDay')

In [22]:
df_med = padronizar_colunas(df_med)

In [23]:
df_med = converter_para_binario(df_med, 'NO-SHOW')

In [24]:
df_med = remover_acentos(df_med, 'NEIGHBOURHOOD')

In [29]:
df_med_trusted = df_med
df_med_trusted.to_csv('01. Dataset - Medical Appointment No Shows/trusted/medical_appointment_no_show.csv')