In [30]:
import pandas as pd
import unicodedata

### Sumário de padrões para tratamento de dados:

- Data: DD/MM/YYYY

- Data hora: DD/MM/YYYY HH:MM:SS

- Binário: 0 ou 1

- Strings e colunas: Maiusculas e com acento: 

- Espaços: Manter apenas um espaço no intervalo entre palavras

- Sexo: M e F

- Delimitador: Vírgula

### Funções para padronização:

In [ ]:
# Formato em 2016-04-29T18:38:08Z
def padronizar_data_hora(df, coluna):

  df[coluna] = pd.to_datetime(df[coluna])
  
  df[coluna] = df[coluna].dt.strftime('%d/%m/%Y %H:%M:%S')
  
  return df

In [64]:
#Formato em MM/DD/AA
def padronizar_data(df, coluna):

  df[coluna] = pd.to_datetime(df[coluna], format='%m/%d/%Y')
  
  df[coluna] = df[coluna].dt.strftime('%d/%m/%Y')
  
  return df

In [32]:
def padronizar_colunas(df):

    df.columns = df.columns.str.upper()
    
    return df

In [33]:
def converter_para_binario(df, coluna):
    mapeamento = {'Yes': 1, 'No': 0}
    df[coluna].replace(mapeamento, inplace=True)
    return df

In [71]:
def remover_acentos(df):
    for coluna in df.columns:
        if df[coluna].dtype == 'object':
            df[coluna] = df[coluna].astype(str).str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    return df

In [74]:
def padronizar_maiusculo(df):
    for coluna in df.columns:
        if df[coluna].dtype == 'object':
            df[coluna] = df[coluna].astype(str).str.upper()
    return df

In [59]:
df_med.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [70]:
df_HairSalon.head()

  CANCEL DATE    CODE SERVICE   STAFF BOOKING DATE CANCELED BY  DAYS
0  22/05/2018  MASA01     CFC  JOANNE   24/05/2018       ADMIN   2.0
1  27/06/2018  MASA01    CBAL   KELLY   27/06/2018       ADMIN   0.0
2  03/07/2018  MASA01    SHCM   BECKY   10/07/2018       BECKY   7.0
3  10/07/2018  MASA01    SHCC      JJ   11/07/2018       KELLY   1.0
4  24/07/2018  TRUA01    SHCM   KELLY   24/07/2018       TANYA   0.0

### Tratamento de dados

In [76]:
df_med_raw = pd.read_csv("01. Dataset - Medical Appointment No Shows/raw/medical_appointments.csv")

In [77]:
df_med = df_med_raw

In [78]:
df_med = padronizar_data_hora(df_med, 'ScheduledDay')
df_med = padronizar_data_hora(df_med, 'AppointmentDay')
df_med = padronizar_colunas(df_med)
df_med = converter_para_binario(df_med, 'NO-SHOW')
df_med = remover_acentos(df_med)
df_med = padronizar_maiusculo(df_med)

In [51]:
df_med_trusted = df_med
df_med_trusted.to_csv('01. Dataset - Medical Appointment No Shows/trusted/medical_appointment_no_show.csv')

In [66]:
df_HairSalon_row = pd.read_csv("02. Dataset - Hair Salon No-Show/raw/Client Cancellations0.csv")
df_HairSalon = df_HairSalon_row

In [ ]:
df_HairSalon = padronizar_data(df_HairSalon,'Cancel Date' )
df_HairSalon = padronizar_data(df_HairSalon,'Booking Date' )
df_HairSalon = padronizar_colunas(df_HairSalon)
df_HairSalon = padronizar_maiusculo(df_HairSalon)
df_HairSalon = remover_acentos(df_HairSalon)

In [81]:
df_HairSalon_trusted = df_HairSalon
df_med_trusted.to_csv('02. Dataset - Hair Salon No-Show/trusted/hair_salon_client_cancel.csv')